In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
sns.set()

In [2]:
col_names = ['Sex', 'Length', 'Diameter', 'Height', 'Whole_height', 'Shucked_height', 'Viscera_height', 'Shell_weight', 'Rings']

data = pd.read_csv('abalone.data', names=col_names)

In [3]:
data.head()

,Sex,Length,Diameter,Height,Whole_height,Shucked_height,Viscera_height,Shell_weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [5]:
X = data[['Length', 'Height']]

In [14]:
y = data.Rings.values.reshape(-1, 1)

In [12]:
from sklearn.model_selection import train_test_split

In [15]:
train_x, test_x, train_y, test_y = train_test_split(X, y, test_size=0.25, random_state=42)

In [20]:
from sklearn.preprocessing import StandardScaler

In [21]:
scl = StandardScaler()

In [22]:
train_x = scl.fit_transform(train_x)

In [23]:
test_x = scl.transform(test_x)

In [24]:
from sklearn.linear_model import LinearRegression

In [25]:
lin_reg = LinearRegression()

In [26]:
lin_reg.fit(train_x, train_y)

LinearRegression()

In [29]:
from sklearn.metrics import mean_squared_error

In [27]:
def evaluation(model, model_name):
    train_pred = model.predict(train_x)
    test_pred = model.predict(test_x)
    train_rmse = mean_squared_error(train_y, train_pred, squared=False)
    test_rmse = mean_squared_error(test_y, test_pred, squared=False)
    
    print(f'Model: {model_name}')
    print(f'Train RMSE    : {train_rmse}')
    print(f'Test RMSE     : {test_rmse}')

In [30]:
evaluation(lin_reg, 'Linear Regression')

Model: Linear Regression
Train RMSE    : 2.6503118769099525
Test RMSE     : 2.528546949308043