In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
sns.set()

In [2]:
col_names = ['Sex', 'Length', 'Diameter', 'Height', 'Whole_height', 'Shucked_height', 'Viscera_height', 'Shell_weight', 'Rings']

data = pd.read_csv('abalone.data', names=col_names)

In [3]:
data = pd.get_dummies(data)
data.drop('Sex_M', axis=1, inplace=True)

In [4]:
data.head()

,Length,Diameter,Height,Whole_height,Shucked_height,Viscera_height,Shell_weight,Rings,Sex_F,Sex_I
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15,0,0
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7,0,0
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,1,0
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,0,0
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,0,1

In [5]:
data['rings_class'] = data.Rings.apply(lambda x: str(x))

In [6]:
x = data.drop(columns=['Rings'])
y, levels = pd.factorize(data['rings_class'])

In [14]:
import joblib as jb

In [15]:
filename = 'first_rand_forest.sav'

In [16]:
model = jb.load(filename)

In [17]:
x

,Length,Diameter,Height,Whole_height,Shucked_height,Viscera_height,Shell_weight,Sex_F,Sex_I,rings_class
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,0,0,15
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,0,0,7
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,1,0,9
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,0,0,10
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,0,1,7
...,...,...,...,...,...,...,...,...,...,...
4172,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,1,0,11
4173,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,0,0,10
4174,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,0,0,9
4175,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,1,0,10
4176,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,0,0,12

In [ ]:
prediction = model.predict()